### IDEs ###
.idea/
.vscode/
*.iml

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Linux ###
*~

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Java ###
*.log
*.class
*.jar
*.war
*.ear
hs_err_pid*
*.db
*.sqlite
*.h2.db
*.lck
*.bak
target/
build/

### Maven ###
/target/

### Gradle ###
.gradle/
build/
!gradle-wrapper.jar
**/build/

### Flutter/Dart ###
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.android/
.ios/
